.About-header {
  background-color:#090909;

 }

.About-main {
  min-height: 95vh;
}

.d1{
  height: 100%;
  width: 100%;
 }

.d2{
  height: 100%;
  width: 100%;
 }

.d3{
  height: 100%;
  width: 100%;
 }

.About-footer {
  min-height: 5vh;
}


@media (max-width: 1200px) {
  .About-footer {
    margin-top: 250px;
  }
  
}

@media (max-width: 768px) {
  .About-footer {
    margin-top: 200px;
  }
  
}
@media (max-width: 600px) {
  .About-footer {
    margin-top: 250px;
  }
  
}

@media (max-width: 480px) {
  .About-footer {
    margin-top: 300px;
  }
  
}

@media (max-width: 440px) {
  .About-footer {
    margin-top: 350px;
  }
  
}