@import url("https://fonts.googleapis.com/css?family=Abel|Raleway|Raleway+Dot|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap");

.home-left {
	height: 100%;
}

.home-left-main {
	height: 100%;
	text-align: center;
}

.home-left-main-col {
	margin: auto;
	display: block;
}

.first-line {
	font-size: 4rem;
	font-family: "Sulphur Point", sans-serif;
}

.second_line {
	font-size: 2rem;
	font-family: "Sulphur Point", sans-serif;
}

mark.name-text {
	color: #e98900;
	background: none;
}

.typical {
	font-size: 1.6rem;
	font-family: "Sulphur Point", sans-serif;
}

.home-left-aboutme-main {
	position: relative;
	z-index: -1;
}

.home-left-aboutme {
	color: aliceblue;
}

.home-left-aboutme:hover {
	color: black;
}

.home-left-aboutmme-btn:hover {
	background: #666666;
}
.home_spacer {
    height: 10px;
}
.wave {
	animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s; /* Change to speed up or slow down */
	animation-iteration-count: infinite; /* Never stop waving :) */
	transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
	display: inline-block;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	} /* The following five values can be played with to make the waving more or less extreme */
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	} /* Reset for the last half to pause */
	100% {
		transform: rotate(0deg);
	}
}


